
* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* text-decoration: none; */
    color: black!important
}


:root {
    --dark-green: #6B705C;
    --light-green: #B7B7A4;
    --peach: #DDBEA9;
}

.page-content {
    height: 100vh;
    background-color: var(--light-green)
}

#header {
    /* background-color: var(--light-green); */
    background-color: rgba(183, 183, 164, 0.7)
    /* opacity: 0.7; */
}

#header h1 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Barlow', sans-serif;
}


/*nav section*/

nav {
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

nav h1 {
    margin-left: 25px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

#navigation ul li {
    border-radius: 25px;
}

nav ul li a {
    padding: 5px;
    border-radius: 25px;
}

#navigation ul li:hover {
    /* background: var(--dark-green); */
    background: radial-gradient(var(--light-green), var(--dark-green));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    transition: .6s ease;
}

#navigation ul li a:focus {
    background: var(--dark-green);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

/*about me section*/ 

.about-me {
    /* background-color: var(--light-green); */
    text-align: center;
    display: flex;
}

#about-me {
    font-family: 'Barlow', sans-serif;
}

.about-me img {
    width: 35%;
    padding: 10px;
}

.me-description {
    padding-right: 20px;
    width: 85%;
    margin-right: 100px;
    margin-top: 75px;
}

.me-description h1 {
    border-bottom: 2px solid;
    padding: 8px;
}


/*my projects intro*/
#my-projects {
    background-color: var(--light-green)
}

#my-projects-title {
    display: flex;
    justify-content: center;
}

.fade-in-text {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*tile gallery*/ 

#my-projects-text {
    font-family: 'Barlow', sans-serif;
}

.projects {
    background-color: var(--light-green);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-section-title {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25px;
}

.project-section-title h2 {
    border-bottom: 2px solid;
    padding: 5px;
}


.projects-gallery {
    --num-cols: 2;
    --row-height: 300px;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#streamline {
    background-image: url(../public/assets/images/streamline-screenshot-crop.png);
    background-size: cover;
    opacity: 0.7;
    width: 825px;   
}

#the-nasa-spirit {
    background-image: url(../public/assets/images/the-nasa-spirit.png);
    background-size: cover;
    opacity: 0.7;
    width: 825px;
}

.tile-text-background {
    background: radial-gradient(var(--light-green), var(--dark-green));
    border-radius: 25px;
    margin: 5px;
}


/* #the-nasa-spirit {
    background-image: url(../public/assets/images/the-nasa-spirit.png);
    background-size: cover;
    opacity: 0.7;
} */

#streamline:hover, #the-nasa-spirit:hover {
    opacity: 1;
}

#streamline h3 {
    font-style: normal;
}

.small-tiles-1 {
    display: flex;
    flex-wrap: wrap;
}

.small-tiles-2 {
    display: flex;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 400px;
    height: 200px;
    border: 2px solid;
    /* position: relative; */
    background-color: white;
    opacity: 0.5;
}

.tile:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px rgba (0, 0, 0);
    transition: .4s ease;
}

.projects-gallery h3 {
    text-align: center;
    width: 100%;
}

/*Contact page*/

#contact-form {
    background-color: var(--light-green)
}

#contact-me-text {
    font-family: 'Barlow', sans-serif;
}

#form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#submitBtn {
    background-color: var(--dark-green);
    font-weight: bold;
}

#submitBtn:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    transition: .5s ease;
}


/*Resume page*/

#resume-page {
    background-color: var(--light-green);
}

.card-columns {
    column-count: 2;
}

#resume-page ul {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

#skills-intro-text {
    font-size: 22px;
}

#view-resume {
    font-size: 22px;
}


/*footer*/ 

footer {
    background-color: var(--dark-green);
    background-color: rgba(107, 112, 92, 0.7)
}

footer .contact {
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;

}

footer ul li {
    padding: 10px;
    border-radius: 25px;
}

.contact h3 {
    padding-top: 15px;
    margin: 0;
}

.bottom-stick {
    position: absolute;
    bottom: 0;

}

.contact-info ul li:hover {
    /* background: var(--light-green); */
    background: radial-gradient(var(--light-green), var(--dark-green));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
    transition: .5s ease;
}











/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    body {
        overflow-x: hidden;
    }

    .about-me {
        display: flex;
        padding-bottom: 50px;
        padding-right: 20px;
    }

    .about-me img {
        padding-top: 50px;
    }
}
    

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) { 
    body {
        overflow-x: hidden;
    }

    .about-me {
        display: flex;
        padding-bottom: 50px;
        padding-right: 20px;
        align-items: center;
    }

}
    

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .projects {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info ul {
        display: flex;
        flex-wrap: wrap;
    }
}